*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 3em;
    background: steelblue;
    text-align: center;
    color: #fff;
    margin-bottom: 3em;
}
.weather_data_container{
    text-align: center;
}
.city{
    width: 100%;
    max-width: 600px;
}